@* <footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - EcommApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer> *@

<div class="footer bg-dark" style="height: 20dvh">
    <div class="container text-white">
        &copy; 2025 - Pizza Hub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</div>
