@using PizzaHub.Models
@model LoginFormModel
@* @{
    Layout = "_FullLayout";
} *@

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="top: 250px">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">Login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>

                    <div class="mb-3">
                        <label asp-for="UserName">Username</label>
                        <input type="email" placeholder="Enter Username" asp-for="UserName" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password">Password</label>
                        <input type="password" placeholder="Enter Password" asp-for="Password" class="form-control" />
                    </div>

                   @*  <button type="submit" class="btn btn-primary">Login</button> *@
                   <div class="d-flex float-lg-end">
                        <b>Don't have account ?.</b>
                        <a class="ms-2 text-decoration-none" asp-action="SignupForm">Signup</a>
                   </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
                const modal = new bootstrap.Modal(document.getElementById('loginModal'));
                modal.show();
            }, 200);
        });
    </script>
}



