<div class="row" style="background-color:antiquewhite;">
    <div class="col-md-2">
        <mat-toolbar class="example-toolbar">
            <button mat-icon-button (click)="isExpanded = !isExpanded" class="button-border modify-btn">
                <mat-icon>menu</mat-icon></button>
        </mat-toolbar>
    </div>
    <div class="col-md-10 d-flex align-items-center flex-wrap gap-3">
        <div ngbDropdown *ngFor="let item of categoryList" class="me-3">
            <button ngbDropdownToggle type="button" class="btn btn-secondary px-3" style="min-width: 120px;">
                {{ item.Name }}
            </button>

            <div ngbDropdownMenu class="shadow border-0 rounded-3 mt-1 p-1">
                <button ngbDropdownItem *ngFor="let subItem of item.SubCategory" class="dropdown-item px-3 py-2">
                    {{ subItem.Name }}
                </button>
            </div>
        </div>
    </div>
</div>


<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" [opened]="isExpanded" (mouseenter)="mouseenter()"
        (mouseleave)="mouseleave()">
        <mat-nav-list *ngFor="let item of navItems">
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                <span class="full-width" *ngIf="isExpanded || isShowing" EventTarget>{{item.Name}}</span>
                <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}"
                    *ngIf="isExpanded || isShowing">expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
                <ng-container *ngFor="let child of item.Children">
                    <a mat-list-item routerLink="{{child.Url}}">
                        <mat-icon>{{child.icon}}</mat-icon> {{child.Name}}</a>
                </ng-container>


            </div>
        </mat-nav-list>
    </mat-sidenav>
    <div>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
