@using FoodApp.Models
@model LoginFormModel
@{
    ViewData["Title"] = "Login Page";
}

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" style="background: rgba(17, 92, 74, 0.8)">
    <div class="modal-dialog" role="document" style="top: 150px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                @* <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> *@
            </div>
            <div class="modal-body">
                <form asp-action="VerifyUser" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Username">Username</label>
                        <input asp-for="Username" type="email" placeholder="Enter username" class="form-control"/>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" placeholder="Enter password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="d-flex mt-2 mb-3">
                        <b class="me-2">Don't have account ?</b>
                        <a class="text-decoration-none" asp-area="Auth" asp-controller="Authentication" asp-action="Signup">Signup</a>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Login</button>
                        @* <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> *@
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
                const modal = new bootstrap.Modal(document.getElementById('loginModal'));
                modal.show();
            },200)
        })
    </script>
}