.outer-layout{
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.sidenav-container{
    display: flex;
    flex: 1;
}

.main-content{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    flex: 1;

}

.sidenav{
    width: 250px;
    background: burlywood;
    color: white;
    transition: width 0.2s ease;
    margin-top: 10px
}


.admin-header{
    height: 8dvh;
    background: aliceblue;
}

.admin-footer{
    height: 10dvh;
    background: aliceblue;
}

.submenu{
  transition: transform 300ms ease;
  overflow-y: hidden;
  transform: scaleY(0);
  transform-origin: top;
}

.submenu.expand{
   transform: scaleY(1);
}