<div class="outer-layout">
    <app-admin-header class="admin-header"></app-admin-header>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer mode="side" [opened]="isExpanded" class="sidenav">
            <mat-nav-list>
               <a mat-list-item>Dashboard</a>
               <a mat-list-item>Product</a>
               <a mat-list-item>Report</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="main-content">
               <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <app-admin-footer class="admin-footer"></app-admin-footer>
</div>