<div class="outer-layout">
    <app-admin-header class="admin-header"></app-admin-header>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer mode="side" [opened]="isExpanded" class="sidenav">
                <mat-nav-list *ngFor="let item of navItems">
                    <mat-list-item (click)="showSubMenu = !showSubMenu">
                        <span>{{item.Name}}</span>
                        <mat-icon class="ms-5">expand_more</mat-icon>
                    </mat-list-item>
                    
                    <div class="submenu" [ngClass]="{'expand': showSubMenu}">
                        <ng-container *ngFor="let child of item.children">
                            <a mat-list-item routerLink="{{child.Url}}">
                                <mat-icon class="me-3">{{child.icon}}</mat-icon>
                                <span>{{child.Name}}</span>
                            </a>
                        </ng-container>
                    </div>
                </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="main-content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <app-admin-footer class="admin-footer"></app-admin-footer>
</div>